/*
Root Settings (Background Settings)
*/

:root {
    background-color: #1E1E1E;
}
/*
Container Settings
*/

.container {
    display: flex;
    align-items: center;
}

/* 
Reading Text Settings
*/
.header-text {
    margin-left: 25px;
    font: bold !important;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif; /* Change the font-family to your preferred choice */
    color: #FFFFFF;
}

.information-text {
    margin-left: 20px; /* Adjusted margin */
    font-size: 36px; /* Reduced font size */
    font-weight: normal; /* Changed from bold to normal weight */
    line-height: 1.5; /* Added line height for better readability */
    font-family: 'Montserrat', sans-serif; /* Font choice remains the same */
    color: #FFFFFF; /* Using color property instead of -webkit-text-fill-color */
}


/*
Information Buttons Settings
*/

.info-button1 {
    position: absolute;
    top: 40px;
    right: 400px;
    text-decoration: none;
    background-color: #282828;
    color:  #FFFFFF;
    border: solid 2px #FFFFFF;
    height: 75px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    line-height: 65px;
    padding: 0;
    transition: background-color 0.25s;
}

.info-button1:hover {
    background-color: #464545;
}

.info-button1:active {
    opacity: 0.7;
}

.info-button2 {
    position: absolute;
    top: 40px;
    right: 200px;
    text-decoration: none;
    background-color: #282828;
    color:  #FFFFFF;
    border: solid 2px #FFFFFF;
    height: 75px;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    line-height: 65px; /* Adjust line height to center vertically */
    padding: 0; /* Remove padding */
    transition: background-color 0.25s;
}

.info-button2:hover {
    background-color: #464545;
}

.info-button2:active {
    opacity: 0.7;
}

.info-button3 {
    position: absolute;
    top: 40px;
    right: 20px;
    text-decoration: none;
    background-color: #282828;
    color:  #FFFFFF;
    border: solid 2px #FFFFFF;
    height: 75px;
    width: 160px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    line-height: 65px; /* Adjust line height to center vertically */
    padding: 0; /* Remove padding */
    transition: background-color 0.25s;
}

.info-button3:hover {
    background-color: #464545;
}

.info-button3:active {
    opacity: 0.7;
}

/*
Image Settings
*/

.round-image {
    border: solid 2px #FFFFFF;
    border-radius: 100px;
    border-color: #FFFFFF;
}