
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #303030;
}

.header {
    position: fixed;
    top: 10;
    left: 22.5%;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: #E4E4E4;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #E4E4E4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 40px;
    background: transparent;
    border: 2px solid #E4E4E4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #E4E4E4;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #E4E4E4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #E4E4E4;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 500px;
    background: #404040 no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1.5);
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: none;
    padding: 80px;
    color: #E4E4E4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
}

.text-sci h2 {
    font-size: 40px;
}

.text-sci p {
    font-size: 16px;
}

.social-icons a i {
    font-size: 30px;
    color: #E4E4E4;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.container .image-box {
    position: inherit;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    background: none;
    border-radius: 20px;
}

.image-box .image {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80%;
    height: 80%;
    border-radius: 50px;
}

.image-box .offset-image {
    position: inherit;
    top: 20%;
    right: 12%;
    width: 90%;
    height: 55%;
}

.image-box .squared-image {
    position: inherit;
    top: 12.5%;
    right: 25%;
    width: 72%;
    height: 70%;
}